[access]
	inheritFrom = All-Projects
[project]
	description = NEMO: A Language Style NBI
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-nemo-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
