.btn_
{
    color:white;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-right: 1px solid rgba(0,0,0,0.25);
    cursor:pointer;
    font-size:15px;
    background-color: #939;
    /*background-color: #F8B64B;*/
    font-family:Arial,Verdana;
    width:50px;
    height:25px;
}
span.key
{
    display:normal;
    font-size:13px;
    color:red;
}
.header p{
  float: left;
}
.header span{
  color:#000 !important;
  text-shadow:0 0 0 #fff;
  text-decoration: underline;
  /*text-decoration-color:green;*/
  /*border-bottom:1px solid green;*/
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  font-family:'cursive','-webkit-pictograp',sans-serif,Verdana;
}
#selectUser{
width: 290px;
height: 30px;
float: right;
}
#selectUser p{
font-size: 22px;
font-weight: 500;
font-family: Times;
line-height: 28px;
text-shadow:1px 1px 1px #aaa;
}
#selectUser select{
  width: 140px;
  height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  background: #ccc;
  font-size: 20px;
  /*float: left;*/
}
#selectUser *:last-child{
  width: 60px;
  height: 28px;
  line-height: 30px;
}
.group{
height: auto;
background-color: rgba(0,0,0,0);
 margin-bottom: 15px;
}
#intentinfo{
  height: 920px;

}
#PhyNet{
  width: 850px;
  margin: 20px auto;
 /* background: #fff;
  height: 550px;
  border: 1px solid #aaa;*/
}
#VirNet{
  width: 850px;
  margin: 20px auto;
/*  background: #fff;
  height: 550px;
  border: 1px solid #aaa;*/
}
#phy_graph,#vir_graph{
height: 500px;
width: 800px;
background: #fff;
margin: 0 auto;
margin-bottom: 20px;
}
#Mapping{
  /*height: 800px;*/
}
#nemo_str_show{
  height: 200px !important;
  width:923px !important;
  line-height: 10px;
}
#mappingTable{
  width: 850px;
  margin: 0px auto;
}
.group table{
  border-collapse:collapse;
  /*margin: 10px auto;*/
  border-spacing:0;
 /* border-left:1px solid #888;
  border-top:1px solid #888;*/
  background:#efefef;
  /*width: 100%;*/
  width: 820px;
  margin-bottom: 2px;
   table-layout: fixed;
}
.group caption{
  font-size: 18px;
  font-weight: bold;
  color: blue;
  margin-left: 0px;
  text-align: left;
  margin-bottom: 5px;
  /*float:left;*/
}
.group table th{
   border:1px solid black; 
   padding:2px 0px;
   font-weight: bold;
   background-color: #ccc;
}
.group table th,.group table td{
  text-align: center;
   font-size: 15px;
}
table#virNodeTab,table#virLinkTab{
  table-layout: fixed;
}
table#virNodeTab td,table#virLinkTab td{
 white-space: nowrap;
 overflow: hidden;
 text-overflow:ellipsis;
}
table.tableHead{
 margin-bottom: 5px !important;
}
div.tableBodyContainer{
  height: 200px;
  width: 835px;
  overflow: auto;
  margin-bottom: 20px;
}
div.nodetableBodyContainer{
  height: 150px;
  overflow: auto;
   margin-bottom: 20px;
}

div#pageContent {
  /*height: 1020px;*/
}
  
body {
    /*width: 1330px;*/
    overflow: scroll;
    margin-right: 0px;
}
