* {margin:0;padding: 0}
body
{
	font-family: 宋体;
	background-color: #ccc;
}
#logPage{
	
}
#reg,#log
{
	border: 1px solid rgb(220,220,220);
	background-color:rgba(240,240,240,0.8);
	width: 350px;
	height: 250px;
   margin: 180px auto;
   position: relative;
}
#reg
{
	width: 350px;
	height: 280px;
	display: none;
}
#reg_title
{
	margin-top: 10px;
	margin-left: 100px;
	font-size: 20px;
}
#log_title
{
	margin-top: 10px;
	margin-left: 130px;
	font-size: 20px;
}
#reg_info,#log_info
{
	width: 310px;
	height: 200px;
	margin-top: 20px;
	margin-left: 30px;
}
#reg_info table,#log_info table
{

	width: 280px;
	height: 150px;
	margin-top: 20px;
	margin-left: 0px;
}
#reg_info table
{
	height: 200px;
}
table tr
{

	/* width: 260px; */
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	 -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    border-bottom: 0px solid rgba(0,0,0,0.25);
}
table tr td
{
		/*background-color:E8E8E8;*/
		text-align: center;
}
#show_reg 
{
	/*padding-top: 15px;*/
}
#show_reg td 
{
	text-align: right;
}
#show_reg span {
    color: #5A0707;
    font-size: 15px;
}
input
{
	width: 160px;
	height: 20px;
}
select
{
	width: 165px;
	height: 25px;
}
button
{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	width: 65px;
	height: 25px;
	color:white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor:pointer;
	font-size:15px;
	font-family:黑体;
	background-color:#993399;
}
#reg_cancle
{
	
}
